.home{
    background-color: rgb(127, 125, 125);
    height: 100vh;

    .new-post-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .new-post{

            form{
                display: flex;
                padding: 10px;
                gap: 10px;
    
                textarea{
                    padding: 15px;
                    border: none;
                    max-width: 250px;
                    min-width: 250px;
                    max-height: 10px;
                    min-height: 10px;
                    border-bottom: 1px solid #a7bcff;
    
                    &::placeholder{
                        color: rgb(175,175,175);
                    }
                }
    
                label {
                    display: flex;
                    align-items: center;
                    color: #8da4f1;
                    font-size: 12px;
                    cursor: pointer;
    
                    svg{
                        width: 32px;
                    }
                }

                button{
                    background-color: rgb(127, 125, 125);
                    color: white;
                    border:none;
                    cursor:pointer;

                    svg{
                        width: 32px;
                    }
                }
            }
        }
    }
}